Package: com.pkgfiles.canvassync
Name: CanvasSync
Version: 2.0.1
Architecture: iphoneos-arm
Description: Display artwork or Spotify Canvas as wallpaper.
Maintainer: pkgFiles
Author: pkgFiles
Section: Tweaks
Depends: dev.theos.orion14, firmware (>= 15.0)
