<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Appearance</string>
			<key>footerText</key>
			<string>Adjust the appearance settings for this tweak to specify whether the artwork, the canvas, or both elements should be displayed.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.pkgfiles.canvassyncprefs</string>
			<key>key</key>
			<string>appearanceStyle</string>
			<key>validTitles</key>
			<array>
				<string>Both</string>
				<string>Artwork</string>
				<string>Canvas</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Gradient-Effect</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>CanvasSyncPrefs.CSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.pkgfiles.canvassyncprefs</string>
			<key>key</key>
			<string>isGradientEffectEnabled</string>
			<key>cellTitleLabel</key>
			<string>Enabled</string>
			<key>cellSubtitleLabel</key>
			<string>Enable/Disable the gradient effect on the artwork and canvas.</string>
			<key>height</key>
			<real>60</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.pkgfiles.canvassyncprefs</string>
			<key>key</key>
			<string>gradientSize</string>
			<key>validTitles</key>
			<array>
				<string>Low</string>
				<string>Medium</string>
				<string>High</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Extras</string>
		</dict>
        <dict>
            <key>cellClass</key>
            <string>CanvasSyncPrefs.CSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.pkgfiles.canvassyncprefs</string>
            <key>key</key>
            <string>isDockBackgroundHidden</string>
            <key>cellTitleLabel</key>
            <string>Hide Dock Background</string>
            <key>cellSubtitleLabel</key>
            <string>Hides the Dock background while music is playing.</string>
            <key>height</key>
            <real>60</real>
        </dict>
		<dict>
            <key>cellClass</key>
            <string>CanvasSyncPrefs.CSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.pkgfiles.canvassyncprefs</string>
            <key>key</key>
            <string>isAlwaysOnEnabled</string>
            <key>cellTitleLabel</key>
            <string>AOD (Always-On)</string>
            <key>cellSubtitleLabel</key>
            <string>Enable/Disable the uninterrupted video playback in Always-On mode.</string>
            <key>height</key>
            <real>60</real>
        </dict>
	</array>
	<key>title</key>
	<string>Appearance</string>
</dict>
</plist>
